
rtl/db/**
rtl/incremental_db/**
rtl/soc_system.asm.rpt
rtl/soc_system.done
rtl/soc_system.fit.rpt
rtl/soc_system.fit.summary
rtl/soc_system.flow.rpt
rtl/soc_system.map.rpt
rtl/soc_system.map.summary
rtl/soc_system.sof
rtl/soc_system.sta.rpt
rtl/soc_system/synthesis
rtl/simulation

tflite_build
